<md-content ng-init="init()">
    <h3>Photo gallery</h3>
    <div class="well well col-sm-12">
        <div layout="row" ng-hide="hide" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="row">
            <h1 ng-hide="emptyItems">No items in the gallery</h1>
            <md-card class="col-sm-2" ng-repeat="image in images">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{image.title}}</span>
                        <span class="md-subhead">Uploaded At: {{image.uploadedAt}}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{image.publicUrl}}" class="md-card-image" alt="{{image.title}}">
            </md-card>
        </div>
    </div>
</md-content>