#map {
    height: 75%;
    width:75% !important;
    overflow: hidden !important;
    position: inherit !important;
}
.text-primary {
    color: #ffffff!important;
}
button:focus{
    background-color: transparent !important;
}
label {
    font-size: 1rem;
    color: #9e9e9e;
}