<md-content style="display: initial">
    <h3>Upload Files</h3>
    <form ng-submit="uploadFiles()">
        <div class="well well col-sm-12">
            <lf-ng-md-file-input lf-files='files'  lf-placeholder="Select Files" lf-browse-label="Search"
                                 lf-remove-label="Delete" lf-drag-and-drop-label="Drag and Drop your files here!"
                                 drag preview progress multiple accept="image/*"> </lf-ng-md-file-input>

            <div align="center">
                <md-button type="submit" class="md-primary md-hue-1">Upload Files</md-button>
                <div layout="row" ng-hide="hide" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </div>
    </form>
</md-content>
