<md-dialog aria-label="Mango (Fruit)" style="width: 50%;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Files Uploaded Successfully</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="file in files">
                    <div class="md-list-item-text">
                        <h3>File uploaded successfully</h3>
                        <h4>Name: {{file.file}}</h4>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button href="/upload" ng-click="close()">
                Upload More Files
            </md-button>
            <md-button href="/home" ng-click="close()">
                View All Files
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>